.homepage-container {
  min-height: 100vh;
  margin-inline: auto;
  // max-width: 100vw;
  // position: relative;
  .homepage-greeting-container {
    padding-block: 2rem;
    .homepage-greeting {
      font-size: 3rem;
      .homepage-greeting-name {
        color: $accent;
      }
    }
    .homepage-greating-paragraph {
      font-size: 1.15rem;
      opacity: 70%;
    }
  }
}

// -----------------------------------WALLET PREVIEW----------------------------------------
.wallet-preview {
  display: flex;
  flex-direction: column;
  border: 1px solid $primary;
  border-radius: 20px;
  width: 150px;
  .wallet-name-container {
    padding-block: 0.5rem;
    .wallet-name {
    }
  }

  .wallet-balance-container {
    .wallet-balance {
    }
  }
}

.new-wallet-modal-container {
  .wallet-type-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .wallet-type-modal {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 200px;
      height: 150px;
    }
  }
}

// .margin-right-navbar-open {
//   margin-inline-start: 6.5rem;
// }

//-------------------------------HOMEPAGE CARDS-----------------------

.card {
  background-color: $bg-primary !important;
  border: 1px solid $primary;
}
