//------------------------LARGE CHART --------------------------

.large-chart-content-container {
  width: 100%;
}

.chart-content-container {
  width: 100%;
  height: 200px;
}

.button-container-large-chart {
  padding: 1.3rem;
}

.large-chart-button {
  background-color: $secondary;
  color: white;
  border-radius: 10px;
}

.large-chart-button-content-selection {
  background-color: white;
  width: 100%;
  .large-chart-button-item {
    padding: 0.7rem;
    font-weight: 500;
  }
}
