.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  // input {
  //   background-color: black;
  //   color: black !important;
  // }

  // .form-control {
  //   background-color: black;
  // }

  .login-page-main-row {
    .login-page-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .form-container {
      }
    }
  }

  .login-page-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    max-width: 90%;
    .login-page-photo {
      border-radius: 20px;
      width: 85%;
      height: 100%;
    }
  }
}

.logo-container {
  position: absolute;
  top: 15px;
  left: 25px;
}
