.modal-content {
  // background-color: #151b25;
  .modal-header {
    border: 0px;
  }

  .modal-footer {
    border: 0px;
    display: flex;
    justify-content: space-between;
  }

  .new-wallet-modal-title-subcontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1.44rem;
      font-weight: 600;
    }
    i {
      font-size: 1.44rem;
    }
  }
}

// .form-control,
// .form-select,
// .form-check-input {
//   background-color: #2b374b;
//   &:focus {
//     background-color: #4b5b77;
//   }
//   &:disabled {
//     background-color: #303742;
//     color: white;
//     cursor: not-allowed;
//   }
// }

.new-transaction-modal-container {
  .modal-dialog {
    .modal-content {
      padding: 2rem;
    }
  }
}
