.transaction-page-container {
  .transaction-page-title-container {
    margin-block: 2rem;
  }
  .transaction-page-body-container {
    .transaction-page-legenda-container {
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .transaction-page-transactions-container {
      .single-transaction-container {
        height: 80px;

        .col {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .transaction-page-footer-directions-container {
      height: 100px;
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
