.transaction-page-container {
  .transaction-page-title-container {
    margin-block: 2rem;
  }
  .transaction-page-body-container {
    .transaction-page-legenda-container {
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
        .col {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-inline-end: 0.3rem;
        }
        .transaction-page-arrow-section-container {
          display: flex;
          justify-content: start;
          align-items: center;
          margin-inline-start: 0.3rem;
          .transaction-page-arrow-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            svg {
              // fill: $body-color;
              height: 15px;
            }

            .transaction-page-date-arrow {
              fill: rgba($body-color, 0.4);
            }

            .selected {
              fill: $body-color;
            }
          }
        }
      }
    }
    .transaction-page-transactions-container {
      .single-transaction-container {
        height: 80px;

        .col {
          display: flex;
          justify-content: center;
          align-items: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .single-transaction-date-container {
          display: none;
        }

        .single-transaction-amount-container {
          svg {
            height: 15px;
            margin-inline-start: 0.4rem;
          }
          .single-transaction-expense-icon {
            fill: red;
            rotate: 45deg;
          }
          .single-transaction-income-icon {
            fill: green;
            rotate: 220deg;
          }
        }
        &:nth-of-type(odd) {
          background-color: rgba($color: $secondary, $alpha: 0.1);
        }
        &:hover {
          background-color: $secondary;
        }
      }
    }

    .transaction-page-footer-directions-container {
      height: 100px;
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .transaction-page-recurrency-container,
  .single-transaction-recurrency-container {
    display: none !important;
  }

  .single-transaction-date-time-container {
    display: none !important;
  }
  .single-transaction-date-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .single-transaction-category-container,
  .transaction-page-category-container {
    display: none !important;
  }
}

// No transactions style

.transaction-page-no-transactions-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
