.user-profile-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .user-profile-section-container {
    .user-profile-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .user-profile-image-subcontainer {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-size: 110px;
        background-repeat: no-repeat;
        background-position: center;
        // img {
        //   object-fit: fill;
        //   border-radius: 50%;
        //   height: 100px;
        //   width: 100px;
        // }
      }
      svg {
        width: 20px;
        height: 20px;
        fill: $primary;
        margin-inline-start: auto;
      }
    }
  }
  .user-profile-form-container {
    form {
      .row {
        margin-block: 1rem;
      }
      .user-profile-form-buttons-container {
        display: flex;
        justify-content: end;
        align-items: center;
        button {
          margin-block-start: 1rem;
        }
      }
    }
  }
}
